.video__main-title {
    margin-bottom: 40px;
}

@media(max-width: 1023px) {
    .video__main-title {
        max-width: 600px;
        margin-bottom: 34px;
    }
}

@media(max-width: 767px) {
    .video__main-title {
        margin-bottom: 24px;
    }
}