.video__container {
    display: grid;
    grid-gap: 18px;
    grid-template-columns: repeat(2, 1fr);
}

@media(max-width: 1279px) {
    .video__container {
        grid-gap: 16px;
    }
}

@media(max-width: 767px) {
    .video__container {
        grid-gap: 8px;
        grid-template-columns: 1fr;
    }
}